* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-image: linear-gradient(90deg, #2d6e7098 0%, #2d6e7042 80%),
    url("../media/bg-photo.jpg");
  height: 100vh;
}
@import url(./_aboutUs.scss);
@import url(./_currentWeather.scss);
@import url(./_forecast.scss);
